* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ddeeee;
}

header {
    background-color: #333;
    text-align: center;
    color: #888888;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #e25633;
}


h2 {
    background-color: #999999;
    padding: 20px;
    margin: 0;
    text-transform: uppercase;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
}

footer {
    background-color: #333;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: #e25633;
}

@media screen and (min-width: 780px) and (max-width: 1200px) {
    article {
        max-width: 45%;
    }
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
        margin: 0 auto;
    }

    article {
        max-width: 20%;
    }
}